@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: #f2f2f2;
}
nav{
  background: green;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo{
  color:black;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
#partTime{
  color:#150474;

}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color:whitesmoke;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: red;
}
nav .menu-icon{
  width: 60px;
  text-align: center;
  margin: 0 50px;
  font-size: 30px;
  color:purple;
  cursor: pointer;
  display: none;
}
nav .menu-icon span{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
    position: relative;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #0352db;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav .menu-icon{
    display: inline-block;
  }
  nav .menu-icon span{
    display: block;
  } 
}

nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
/*menu icon*/

@media (max-width: 980px){
  nav .menu-icon{
    margin: 0 20px;
  }
  /* nav form{
    right: 30px;
  } */
}
@media (max-width: 350px){
  nav .menu-icon{
    margin: 0 10px;
    font-size: 20px;
  }
}
/*for content */
/* .content{
  position: relative;
   top: 60%; 
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
} */
 
.container{
  width: 50%;
  margin: auto;
  overflow: hidden;
/*   background: skyblue; */
 /*  margin-top: 20px; */
  padding:auto;
  padding-top: 20px;

}

/* .container ul{
  padding: 0px;
  margin: 0px;
}


.container ul li{
  float:left;
  list-style: none;
  width:20%;
  height:300px;
  background: red;
  margin :20px 0px 20px 55px; 
  border:2px solid blue;
  box-sizing: border-box;
}
.container ul li:hover{
  opacity: 0.8;
}

.container ul li .bottom{
  width: 100%;
  height:50px;
  line-height: 50px;
  background: blue;    
  text-align: center;
  color:white;
  font-size: 20px;
 
} */

@media screen and (max-width:414px){
  .container{
      width:95%;
      margin: auto;  
          
  }
  .gameBoard{
    display: grid;
    grid-gap: 0px;
    grid-template-columns:  repeat(4, 250px);
    grid-template-rows: repeat(3, 200px)

  }
  .memoryCard{
    padding: 0px;
    border: 0px;
  }
}


/* 
  .gameBoard {
    --auto-grid-min-size: 16rem;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
  }
  
  
  /* Presentational styles */
  
 /*  body {
    background: #efefef;
    padding: 1rem;
    line-height: 1.4;
    font-family: sans-serif;
  }
  
  .memoryCard {
    padding: 5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    background: #eb4d4b;
    color: #ffffff;
  } */ 
/* 
  .container {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
  } */